.form {
    border: 1px solid black;
    width: 400px;
    height: 150px;
    border-radius: 5px;
}

.lable-form {
    height: 30px;
    width: 100%;
    background-color: grey;
    text-align: center;
    padding-top: 20px;
}

.input {
    margin-top: 10px;
    margin-left: 70px;
    width: 250px;
    height: 20px;
}

.submit-btn {
    margin-top: 10px;
    margin-left: 150px;
}